
body {
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}


header {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    transition: background-color 0.5s ease, padding 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: inherit;


}

#logo img {
    transition: width 0.5s ease;
    width: 150px;
    height: auto;

}



.swiper-slide img {
    width: 100%;
    height: 700px; 
    object-fit: cover;
}


header.scroll {
    background-color: rgba(255, 255, 255, 0.133); 
    padding: 20px 0; 
}

.caja{
    width: 100%; 
    height: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: padding 0.2s ease;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
.caja.scroll {
    padding: 0;
}



header.scroll #logo img {
    width: 150px;
}

header.scroll #logo img, header.scroll nav a {
    opacity: 1; 
}
ul{
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

#ImgInicio {
    width: 100%;
    margin: auto; 
    overflow: hidden; /* Ocultar contenido que se desplaza fuera del contenedor */
    position: relative;
}

nav{
    display: flex;
    flex-direction: row-reverse;

}

nav ul {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}

nav li {
    margin-right: 15px; 
    display: inline-block;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px; 
    text-decoration: none;
    transition: color 0.5s ease;
}


.principal{
    background: #ff0000;
    padding: 20px;
}

.sobre_nostros {
    background-color: #ffffff; /* Fondo negro */
    color: #000000; /* Color del texto blanco */
    margin: 50px;
    margin-top: 0; 
    text-align: left; /* Justificar el texto */
    display: flex; 
    align-items: center;
}

#sobre_nosotros h2 {
    color: #D4AF37; /* Color naranja para el título */
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 50px;
    font-family: serif;
    margin-left: 50px;
}


.sobre_nostros p {
    max-width: 800px;
    margin-right: 100px;
    font-size: 15px;
    font-family: system-ui;
    line-height: 1.5;
}

.imagen-sobre-nosotros {
    width: 650px; /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene la proporción de aspecto original */
    margin-left: auto;
}


.servicios-imagen {
    position: relative;
    overflow: hidden; /* Para asegurarse de que la imagen no se desborde del contenedor */
}

.imagen-servicios {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 500px;
}

.titulo-servicios {
    position: absolute;
    top: 50%; /* Centra verticalmente el título en relación con el contenedor de la imagen */
    left: 20px; /* Centra horizontalmente el título en relación con el contenedor de la imagen */
    color: #000000; /* Color del texto blanco */
    font-size: 43px;
    font-family: serif;
    text-align: center;
}

.texto_servicios{
    position: absolute;
    top: 60%; /* Centra verticalmente el título en relación con el contenedor de la imagen */
    left: 50px; /* Centra horizontalmente el título en relación con el contenedor de la imagen */
    color: #000000; /* Color del texto blanco */
    font-size: 18px;
    font-family: serif;
    text-align: center;

}
