
body {
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}


header {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    transition: background-color 0.5s ease, padding 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: inherit;


}

#logo img {
    transition: width 0.5s ease;
    width: 150px;
    height: auto;

}



.swiper-slide img {
    width: 100%;
    height: 700px; 
    object-fit: cover;
}


header.scroll {
    background-color: rgba(255, 255, 255, 0.133); 
    padding: 20px 0; 
}

.caja{
    width: 100%; 
    height: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: padding 0.2s ease;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
.caja.scroll {
    padding: 0;
}



header.scroll #logo img {
    width: 150px;
}

header.scroll #logo img, header.scroll nav a {
    opacity: 0.1; 
}
ul{
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

#ImgInicio {
    width: 100%;
    margin: auto; 
    overflow: hidden; /* Ocultar contenido que se desplaza fuera del contenedor */
    position: relative;
}

nav{
    display: flex;
    flex-direction: row-reverse;

}

nav ul {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}

nav li {
    margin-right: 15px; 
    display: inline-block;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px; 
    text-decoration: none;
    transition: color 0.5s ease;
}


.principal{
    background: #ff0000;
    padding: 20px;
}

.sobre_nostros {
    background-color: #ffffff;
    color: #000000; 
    margin: 50px;
    margin-top: 0; 
    text-align: center; 
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#sobre_nosotros h2 {
    color: #D4AF37; 
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: serif;
    margin-left: 50px;
}


.sobre_nostros p {
    max-width: 800px;
    font-size: 15px;
    font-family: system-ui;
    line-height: 1.5;
}

.imagen-sobre-nosotros {
    width: 650px; 
    height: auto; 
}


.servicios-imagen {
    position: relative;
    overflow: hidden; 
}

.imagen-servicios {
    width: 100%; 
    height: 500px;
}

.titulo-servicios {
    position: absolute;
    top: 50%; 
    left: 20px; 
    color: #000000; 
    font-size: 43px;
    font-family: serif;
    text-align: center;
}

.texto_servicios{
    position: absolute;
    top: 60%; 
    left: 50px; 
    color: #000000; 
    font-size: 18px;
    font-family: serif;
    text-align: center;

}

.servicio {
    background-color: #ffffff;
    color: #000000;
    padding: 50px;
}

.servicio-contenido {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagen-servicio {
    width: 400px;
    height: auto;
}

.texto-servicio {
    max-width: 500px;
}

.texto-servicio h2 {
    color: #D4AF37;
    font-size: 30px;
    font-family: serif;
    margin-bottom: 20px;
}

.texto-servicio p {
    font-size: 16px;
    font-family: system-ui;
    line-height: 1.5;
}



/* Estilos para pantallas pequeñas (móviles) */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    #logo img {
        width: 100px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .caja {
        height: auto;
    }

    .swiper-slide img {
        height: auto;
    }

    .sobre_nostros {
        margin: 20px;
    }

    #sobre_nosotros h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    .sobre_nostros p {
        max-width: 100%;
        margin-right: 20px;
    }

    .imagen-sobre-nosotros {
        width: 100%;
        margin-left: 0;
    }

    .servicio-contenido {
        flex-direction: column-reverse;
    }

    .imagen-servicio {
        width: 100%;
        margin-bottom: 20px;
    }

    .texto-servicio {
        max-width: 100%;
    }

    .texto-servicio h2 {
        font-size: 24px;
    }

    .texto-servicio p {
        font-size: 14px;
    }
}

footer {
    background-color: #ffffff;
    color: #565656;
    
}

.footer-seccion {
    flex: 1;
    margin-right: 25%;
    margin-left: 39%;
    margin-bottom: 10px;
}

/* Estilos del botón de WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .whatsapp-btn a {
    display: block;
    background-color: #25d36540; /* Color de fondo de WhatsApp */
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(84, 84, 84, 0.2);
  }
  
  .whatsapp-btn img {
    width: 50px; /* Tamaño de la imagen del icono de WhatsApp */
    height: auto;
}
  


